<section class="search-wrapper">
  <form (submit)="submit($event)">
    <header class="search-header">
      <label for="search"></label>
      <input name="search" type="text" (change)="updateFormSearch($event)" />
    </header>
    <div class="search-filters">
      <div>
        <h3>Categories:</h3>
        <div class="search-checkbox-wrapper">
          @for (item of categories; track item) {
          <div class="search-checkbox-item">
            <input
              type="checkbox"
              name="{{ item.value }}"
              id="{{ item.value }}"
              (change)="updateFormCheckboxes('categories', item.value)"
            /><label for="{{ item.value }}">{{ item.value }}</label>
          </div>
          }
        </div>
        <div>
          <h3>Blacklist:</h3>
          <div class="search-checkbox-wrapper">
            @for (item of blacklists; track item) {
            <div class="search-checkbox-item">
              <input
                type="checkbox"
                name="{{ item.value }}"
                id="{{ item.value }}"
                (change)="updateFormCheckboxes('blacklists', item.value)"
              /><label for="{{ item.value }}">{{ item.value }}</label>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
